{% extends "base.html" %} {% block content %}

<main class="max-w-7xl mx-auto my-10">
  <form
    action="/create"
    method="post"
    class="flex flex-col gap-4 max-w-md mx-auto mt-4 p-4 bg-white border border-gray-200 rounded-md"
  >
    <h1 class="text-2xl font-bold">Create Book</h1>
    <input
      required
      type="text"
      name="title"
      placeholder="Title"
      class="border border-gray-200 rounded-md p-2"
    />
    <input
      type="number"
      name="publication_year"
      placeholder="publication Year"
      min="1900"
      max="2025"
      class="border border-gray-200 rounded-md p-2"
    />
    <input
      type="number"
      name="creation_time"
      placeholder="Creation Time"
      class="border border-gray-200 rounded-md p-2"
    />
    <input
      type="text"
      name="isbn"
      placeholder="ISBN"
      class="border border-gray-200 rounded-md p-2"
    />

    <button
      type="submit"
      class="bg-yellow-600 text-white px-4 py-2 rounded-md flex items-center justify-center gap-2"
    >
      <i class="bi bi-plus-lg"></i>
      Create
    </button>
  </form>
</main>
{% endblock %}
