{% extends "base.html" %}
{% block content %}

<main class="max-w-7xl mx-auto my-10">
  <h1 class="text-2xl font-bold">Books</h1>
   
  <!-- search -->
  <form method="get" action="{{ url_for('search') }}" class="mb-6 flex gap-2">
    <input
      type="text"
      name="search"
      value="{{ search_query if search_query else '' }}"
      placeholder="Search books..."
      class="border border-gray-300 rounded-md px-3 py-2 w-full"
    />
    <button type="submit" class="bg-yellow-600 text-white px-4 py-2 rounded-md">
      <i class="bi bi-search"></i> Search
    </button>
  </form>

 <!-- Books grid -->
  <div class="grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for book in books %}
    <div
      class="bg-white border cursor-pointer group border-gray-200 rounded-md p-4 hover:shadow-md transition-all duration-300"
    >
      <a href="{{ url_for('book_detail', id=book.id) }}">

        <div class="relative">
          <img
            src="https://picsum.photos/400/600?random={{ book.id }}"
            alt="{{ book.title }}"
            class="w-full h-48 object-cover rounded-md group-hover:scale-105 transition-all duration-300"
          />
          <div
            class="absolute flex items-center gap-1 top-2 right-2 bg-gray-600 text-white px-2 py-1 rounded-md"
          >
            <i class="bi bi-clock-fill text-sm"></i>
            <span>{{ book.publication_year }}</span>
          </div>
        </div>
        <div class="flex items-baseline justify-between gap-4">
          <h2 class="text-lg font-bold mt-2 line-clamp-1">{{ book.title }}</h2>
          <h2 class="text-sm text-gray-500 whitespace-nowrap">
            {{ book.publication_year }} | {{ book.isbn }}
          </h2>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
