@import url('https://fonts.cdnfonts.com/css/sega-logo-font');
                
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #580389 url(img/circuit-pattern.png);
    background-size: cover;
}

.header {
    display: flex; /*mettre les elements dans une mm ligne*/
    justify-content: left; /*mettre le contenue a gauche*/
    align-items: center; /*centrer les elements */
    padding: 15px 20px;
    gap: 30px; /*separer les elements*/
    background: #4caf50;
}

.header h1 {
   font-family: 'SEGA LOGO FONT', sans-serif;
   font-weight: lighter;
   font-size: 2rem;                     
   letter-spacing: 2px;
   color: #13395f;
}

#search {
    padding: 10px;
    background-color: #b6b5b5;
    font-size: 1rem;
    width: 650px;
    border: none;
    border-radius: 6px;
}

#robot-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    background: #3ebce6 url(img/card-pattern.png);
    border-radius: 10px;
    padding: 40px;
    flex-basis: calc(100% / 4);
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    transition: transform 0.3s;
    text-align: left;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
    border-radius: 50%;
    background: #222;
    padding: 5px;
}

.card h2 {
  color: #13395f;
  font-size: 25px;
}

.card p {
  font-size: 18px;
  color: #13395f;
}